# ISTRUZIONI UTENTE:
# Copia questo file rinominandolo in "application-secret.properties"
# e inserisci le tue credenziali locali del database.

spring.datasource.username=INSERISCI_QUI_LO_USERNAME
spring.datasource.password=INSERISCI_QUI_LA_PASSWORD